li {list-style-type: none;
font-size: 16pt;
}
.mail {
margin: auto;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
width: 300px;
background : white;
border: 1px soild rgb(1, 20, 24);
}
.mail1 {
margin: auto;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
width: 50px;
background : white;
border: blue;
}
input {
font-size: 15pt;
}
input:focus, textarea:focus{
background-color: white;
width: auto;
}
input button {
font-size: 15pt;
background-color: floralwhite;
}